name: Hourly Xray JSON Config Update

on:
  schedule:
    - cron: '0 * * * *' 
  workflow_dispatch:

jobs:
  convert_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Requirements
        run: pip install requests

      - name: Run Converter Script
        run: python converter.py

      - name: Commit and Push
        run: |
          git config --global user.name 'Xray JSON Bot'
          git config --global user.email 'action@github.com'
          # کامیت فایل خروجی با نام مورد نظر شما
          git add singbox_configs.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto update Xray Config $(date)" && git push)
