name: Hourly JSON Array Update

on:
  schedule:
    - cron: '0 * * * *' 
  workflow_dispatch:

jobs:
  convert_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      # ... (تنظیم پایتون و نصب)
      
      - name: Run Converter Script
        run: python converter.py

      - name: Commit and Push
        run: |
          git config --global user.name 'JSON Array Bot'
          git config --global user.email 'action@github.com'
          git add sub_config.json # کامیت فایل JSON
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto update JSON array $(date)" && git push)
